* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    
    /* Colors */
    
    --bg-color: #121212;
    --text-color: #fdfdfd;

    --black: #121212;
    --white: #fdfdfd;

    --primary-color: hsl(90, 79%, 63%);

    /* Fonts */

    font-size: 62.5%;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    text-align: center;

    font-family: 'Biryani', sans-serif;

    height: 100vh;
}

h1, p, button {
    text-transform: uppercase;
}

nav {
    text-transform: lowercase;
}

h1 {
    padding: 1rem 2rem .5rem 2rem;
    font-weight: 800;
    font-size: 1.6rem;
    font-weight: 200;
    opacity: .75;
}


.social-media {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    
}

.social-media a {
    color: var(--primary-color);
    font-size: 1.6rem;
}

.social-media a svg {
    fill: var(--primary-color);
    border-radius: .4rem;
    width: 3.2rem;
    height: 3.2rem;
    transition: fill .3s ease;
    
}

.social-media a svg:hover {
    fill: hsl(85, 95%, 75%);
}

main {
    background: var(--primary-color);
    width: 80%;
    height: 36rem;
    color: black;
    margin-block: 2.4rem;

    transform: translateX(-50%);

    position: relative;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: center;


}

#logo {
    margin-top: 2rem;
}

nav {
    display: flex;
    gap: 2.4rem;
    justify-content: center;
}

nav a {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;

    transition: color .4s ease;
}

nav a:hover {
    color: var(--primary-color);
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    :root {
        font-size: 55%;
    }

    #logo img {
        width: 20rem;
    }
}

@media screen and (max-width: 375px) {
    :root {
        font-size: 45%;
    }    
}
